body {
  background: black;
  color: #22c55e;
  font-family: monospace;
  padding: 15px;
  max-width: 500px;
  margin: auto;
}

.logo {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  font-weight: bold;
  color: black;
}

.green-btn {
  background: #22c55e;
}

.blue-btn {
  background: #3b82f6;
}

.card {
  border: 1px solid;
  padding: 10px;
  margin-top: 10px;
}

#xpBar {
  height: 12px;
  background: #111;
  margin-top: 10px;
}

#xpFill {
  height: 100%;
  width: 0%;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: black;
  color: white;
  border: 1px solid #444;
}
